*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightslategray;
    font-family: "Times New Romanm", Times, serif;    
}

.resume{
    width: 850px;
    margin: 30px auto;
    display: flex;  
}
.resume a{
    text-decoration: none;
    color: black;
}

.resume ul{
    list-style: none;
}

.contact-info{
border-bottom-style: dotted;
margin-bottom: 20px;

}

.contact-info ul li{
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
    text-decoration: none;
}
.contact-info i{
    margin-right: 15px;
}

.profile{
    text-align: center;
    padding-top: 10px;
    color: blue;
    font-weight: bolder;
    border-bottom: dotted;
    margin-bottom: 20px ;
    border-color:black;
}

.profile-photo{
    border-radius: 40px;
}

.resume-left-side{
    width: 240px;
    background-color:pink;
    padding: 15px;
}

.name{
    letter-spacing: 3px;
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: bolder;
}

.resume-right-side{
    width: 610px;
    padding: 30px;
    background-color: rgb(230, 239, 245);  
}

.skill-list{
    display: grid;
    float: left;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto ;
    grid-row-gap: 35px;
    grid-column-gap: 35px;
    margin-top: 30px;
    padding-left: 35px;
    border-bottom-style: dotted;
    margin-bottom: 20px;
    padding-bottom: 30px;  
}

.language-name{  
    margin-top: 30px;
}

.languages-info .progress-bar{
    width: 60%;
    height: 10px;
    background-color: gray;
    position: relative;
    left: 70px;
    bottom: 12px; 
    border-radius: 8px;     
}

.progress-bar > span {
    display: block;
    height: 100%;
    border-radius: 8px;
    background-color: rgb(43,194,83);
    position: absolute;
}

.summary-details{
    margin-top: 30px;
    border-bottom: solid;
    padding-bottom: 20px;
    font-size: 18px;
    text-align: justify;
    padding-right: 10px;
    text-indent: 1em;
    line-height: 25px;
}

.education-background, .work-experience-background{
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: solid;     
}

.education-background .education-details, .work-experience-background .work-details{
    position: relative;
    left: 230px;
    bottom: 25px;
    line-height: 25px; 
}

.education-background .time-info, .work-experience-background .time-info{
    font-weight: bolder;
    padding-left: 40px;
    padding-top: 50px;
}

footer{
    display: flex;
    padding-top: 30px;
}

.column{
    float: left;
    width: 50%;   
}

.column a:link{
    color:black;
}

.column a:visited{
    color: green;
}

.column a:hover{
    color: palevioletred;
}

.column a:active{
    color: yellow;
}

footer ul li{
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
}