.App {
  width: 50%;
  margin-top: 5%;
  box-shadow: 0 0 20px gray;
  padding: 10px;
}

h1 {
  font-family: "Rouge Script", cursive;
  font-size: 40px;
  margin: 0 0 50px;
  text-shadow: 2px 3px 3px #082b34;
  justify-content: center;
  text-align: center;
}

ul {
  list-style-type: none;
  border: 10px solid var(--plum);
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}
